<!doctype html>
<html lang="es">
<!----------------------------------------------------------------------------------------
	This demo uses React with React Router and displays data from a JSON Service
	using DataFormsJS React Components. The DataFormsJS [jsxLoader.js] script is used
	in the Browser to compile the JSX code from <script type="text/babel"> to JavaScript.
---------------------------------------------------------------------------------------->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Code Playground Site - React</title>
        <link rel="stylesheet" href="site.css">
        <link rel="shortcut icon" href="../../favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-flag@2.4.0/flag.min.css">
    </head>
    <body>
        <div id="root"></div>

        <!--
            React
            https://reactjs.org
        -->
        <script src="https://unpkg.com/react@16.13.1/umd/react.production.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@16.13.1/umd/react-dom.production.min.js" crossorigin="anonymous"></script>

        <!--
            React Router
            https://reacttraining.com/react-router/
            https://github.com/ReactTraining/react-router
        -->
        <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
        <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

        <!--
            DataFormsJS JSX Loader
            https://www.dataformsjs.com
        -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/jsxLoader.min.js"></script>
        <script>
            // Set to `true` to view compiler details
            jsxLoader.logCompileTime = false;
            jsxLoader.logCompileDetails = false;
        </script>

        <!--
            DataFormsJS React Component
        -->
        <!--
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/ErrorBoundary.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/JsonData.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/InputFilter.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/SortableTable.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/I18n.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/Format.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es6/LeafletMap.js"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@4.2.1/js/react/es5/DataFormsJS.min.js"></script>

        <!-- App Code -->
        <script type="text/babel" src="data-react.jsx"></script>
        <script type="text/babel" src="app.jsx"></script>
    </body>
</html>