<!doctype html>
<html lang="es">
<!----------------------------------------------------------------------------------------
    Esta demostración utiliza DataFormsJS Web Components para mostrar datos de un
    servicio JSON. Los Web Components funcionan en navegadores modernos y se muestra
    una advertencia amigable para los usuarios con navegadores más antiguos.
---------------------------------------------------------------------------------------->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Code Playground Site - Web Components</title>
        <link rel="stylesheet" href="site.css">
        <link rel="shortcut icon" href="../../favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-flag@2.4.0/flag.min.css">
        <style>
            /* Evite que los Web Components personalizados aparezcan durante el renderizado incluyen el siguiente CSS */
            json-data:not(:defined),
            is-loading:not(:defined),
            has-error:not(:defined),
            is-loaded:not(:defined) { display:none; }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a class="active" href="#/">Casa</a>
                <a href="#/data">Ejemplo de datos</a>
                <a href="#/demos">Otras demostraciones</a>
            </nav>
        </header>

        <main id="view" class="container"></main>

        <footer>
            <p class="year"></p>
            <p class="now"></p>
        </footer>

        <url-hash-router view-selector="#view">
            <url-hash-route path="/">
                <template>
                    <h1>Hola Mundo</h1>
                    <div class="home-page-animation">
                        <img src="sun.svg" class="sun">
                        <div class="orbit">
                            <img src="planet.svg" class="planet">
                            <img src="moon.svg" class="moon">
                        </div>
                    </div>
                </template>
            </url-hash-route>

            <url-hash-route path="/data" src="data-web.htm"></url-hash-route>

            <url-hash-route path="/demos">
                <template>
                    <h1>Otras demostraciones</h1>
                    <ul class="demos">
                        <li><a href="app.htm">Handlebars</a></li>
                        <li><a href="app-vue.htm">Vue + GraphQL</a></li>
                        <li><a href="app-react.htm">React</a></li>
                    </ul>
                </template>
            </url-hash-route>
        </url-hash-router>

        <!--
            DataFormsJS Web Components
            https://www.dataformsjs.com
        -->
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/url-hash-router.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/json-data.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/data-table.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/input-filter.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/sortable-table.min.js"></script>

        <!-- Los navegadores más antiguos (IE, dispositivos móviles más antiguos, etc.) verán una advertencia -->
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/safari-nomodule.min.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/old-browser-warning.min.js"></script>

        <!-- Actualizar contenido cuando la página se carga o cambia -->
        <script type="module">
            import { componentsAreSetup } from 'https://cdn.jsdelivr.net/npm/dataformsjs@4.6.2/js/web-components/utils.min.js';

            const router = document.querySelector('url-hash-router');
            router.addEventListener('contentLoaded', updateContent);
            updateContent();

            function updateContent() {
                updateNavLinks();
                updateFooter();
                setupTableImages();
            }

            function updateNavLinks() {
                const navLinks = document.querySelectorAll('nav a');
                for (const link of navLinks) {
                    link.className = (window.location.hash === link.getAttribute('href') ? 'active' : '');
                }
            }

            function updateFooter() {
                const now = new Date();
                document.querySelector('footer .year').textContent = now.getFullYear();
                document.querySelector('footer .now').textContent = now;
            }

            // Se llama cuando la página se abre por primera vez en cada cambio de hash / ruta
            function setupTableImages() {
                const jsonData = document.querySelector('json-data');
                if (jsonData !== null) {
                    // [contentReady === true] puede suceder en la carga de la primera página
                    // si los datos se cargan muy rápido - (antes de que <script type="module">
                    // finalice la carga).
                    if (jsonData.contentReady) {
                        updateTableContent();
                    } else {
                        jsonData.addEventListener('contentReady', updateTableContent);
                    }
                }
            }

            // Agregue imágenes de marca a la <table> una vez que se haya procesado.
            async function updateTableContent(e) {
                // Espere hasta que todos los Web Components estén configurados
                await componentsAreSetup();

                // Salir si la página no tiene tabla
                const table = document.querySelector('table');
                if (table === null || table.tBodies === null || table.tBodies.length !== 1) {
                    return;
                }

                // ¿El código de país (ISO) proviene de los parámetros de URL?
                let pageIso = null;
                if (e && e.target && e.target.urlParams) {
                    pageIso = JSON.parse(e.target.urlParams);
                    pageIso = (pageIso.country ? pageIso.country.toLowerCase() : null);
                }

                // Find Number and Date Columns so the data can be formatted
                const updateCols = [];
                const cells = table.tHead.rows[0].cells;
                const colCount = cells.length;
                for (let x = 0; x < colCount; x++) {
                    switch (cells[x].textContent) {
                        case 'Tamaño (KM)':
                        case 'Population':
                            updateCols.push(x);
                            break;
                    }
                }
                const updateColLen = updateCols.length;

                for (const row of table.tBodies[0].rows) {
                    // Agregar banderas a todas las filas
                    const iso = (pageIso ? pageIso : row.cells[0].textContent.trim().toLowerCase());
                    const flag = document.createElement('i');
                    flag.className = iso + ' flag';
                    row.cells[1].insertAdjacentElement('afterbegin', flag);

                    // Format Numbers
                    for (let y = 0; y < updateColLen; y++) {
                        const numValue = row.cells[updateCols[y]].textContent;
                        row.cells[updateCols[y]].setAttribute('data-value', numValue); // Value for Sorting
                        row.cells[updateCols[y]].textContent = Number(numValue).toLocaleString(); // Value for Display
                    }
                }
            }
        </script>
    </body>
</html>