<!doctype html>
<html lang="en">
<!----------------------------------------------------------------------------------------
	该演示将React与React Router结合使用,使用DataFormsJS组件来显示JSON服务中的数据.
	使用DataFormsJS[jsxLoader.js]脚本在浏览器中将JSX代码从<script type=“text/babel”>
	编译为JavaScript.
---------------------------------------------------------------------------------------->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Code Playground Site - React</title>
        <link rel="stylesheet" href="site.css">
        <link rel="shortcut icon" href="../../favicon.ico" />
        <script nomodule>
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.href = 'site-ie.css';
            document.head.appendChild(link);
        </script>
    </head>
    <body>
        <div id="root"></div>

        <!--
            DataFormsJS JSX Loader
            https://www.dataformsjs.com/
            https://github.com/dataformsjs/dataformsjs/blob/master/docs/jsx-loader.md
        -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/jsxLoader.min.js"></script>
        <script>
            // Set to `true` to view compiler details
            jsxLoader.logCompileTime = false;
            jsxLoader.logCompileDetails = false;
        </script>

        <!--
            React
            https://reactjs.org/
        -->
        <!--
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin="anonymous"></script>
        -->
        <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" crossorigin="anonymous"></script>

        <!--
            Preact
            https://preactjs.com/

            * To use Preact instead of React comment out or delete the React
              scripts above and uncomment the Preact code block below.
            * Calling `jsxLoader.usePreact()` will enable allow the JSX Loader to
              handle React Code for Preact and it will allow for compatibility with
              Preact when using React Router and other React Components.
        -->
        <!--
        <script src="https://unpkg.com/preact@10.5.12/dist/preact.min.js"></script>
        <script src="https://unpkg.com/preact@10.5.12/hooks/dist/hooks.umd.js"></script>
        <script> jsxLoader.usePreact(); </script>
        -->

        <!--
            React Router
            https://reacttraining.com/react-router/
            https://github.com/ReactTraining/react-router
        -->
        <script src="https://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
        <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>

        <!--
            DataFormsJS React Components

            The core [DataFormsJS.min.js] file includes DataFormsJS React Components
            [JsonData, ErrorBoundary, LazyLoad, InputFilter, SortableTable] and Classes
            [Cache, CssVars, Format]. All React Components are also compatible with Preact
            when using jsxLoader.

            Additional Components [ImageGallery, LeafletMap] and Class [I18n]
            need to be included separately.
        -->
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es6/DataFormsJS.min.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es5/DataFormsJS.min.js"></script>
        <!--
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es6/I18n.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es6/ImageGallery.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es6/LeafletMap.min.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es5/I18n.min.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es5/ImageGallery.min.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/dataformsjs@5/js/react/es5/LeafletMap.min.js"></script>
        -->

        <!-- App Code -->
        <script type="text/babel" src="app.jsx"></script>
    </body>
</html>