<!--
    Template Source for the Calculator page on the [app-web.htm] demo.

	This is similar to the Handlebars and Vue demos but instead of using
 	templating this file instead uses  the DataFormsJS <data-list>
	Web Component to render the results.
-->
<h1>Calculator</h1>

<section class="calc">
    <input id="current-x" placeholder="Value X" size="7">
    <select id="current-op">
        <option value="+">Add (+)</option>
        <option value="-">Subtract (-)</option>
        <option value="*">Multiply (*)</option>
        <option value="/">Divide (/)</option>
    </select>
    <input id="current-y" placeholder="Value Y" size="7">
    <button>Calculate</button>
</section>

<section class="calc-result">
    <data-list
        template-selector="#results-item"
        list-item-name="item"
        root-element="ul">
    </data-list>

    <!--
		The template format is HTML using JavaScript template literals
        (template strings). All values in `${value}` are
		safely escaped for HTML.
    -->
    <template id="results-item">
        <li class="${item.hasError ? 'error' : ''}">
            ${item.x} ${item.op} ${item.y} = ${item.z}
        </li>
    </template>
</section>
