<div v-if="isLoading" data-template-id="loading-screen"></div>
<div v-if="hasError" data-template-id="error-screen"></div>
<div v-if="isLoaded">
    <h1>国家</h1>

    <div>
        <input
            data-filter-selector="table"
            data-filter-results-text-selector="h1"
            data-filter-results-text-all="{totalCount} Countries"
            data-filter-results-text-filtered="Showing {displayCount} of {totalCount} Countries"
            placeholder="Enter filter, example 'North America'">
    </div>
    
    <table
        data-sort
        data-sort-class-odd="row-odd"
        data-sort-class-even="row-even">
        <thead>
            <tr>
                <th>代码</th>
                <th>名字</th>
                <th class="text-right">尺寸 (KM)</th>
                <th class="text-right">人口</th>
                <th>洲</th>
            </tr>
        </thead>
        <tbody class="click-to-highlight">
            <tr v-for="country in countries">
                <td>{{ country.iso }}</td>
                <td>
                	<i v-bind:class="country.iso.toLowerCase() + ' flag'"></i>
                	<span>{{ country.country }}<span>
                </td>
                <td class="text-right" v-bind:data-value="country.area_km" v-format-number="country.area_km"></td>
                <td class="text-right" v-bind:data-value="country.population" v-format-number="country.population"></td>
                <td>{{ country.continent }}</td>
            </tr>
        </tbody>
    </table>
</div>