<!--
	HTML Template for the data page on the [app-web.htm] demo.
-->

<h1>Countries</h1>

<json-data
    url="https://www.dataformsjs.com/data/geonames/countries"
    load-only-once
    class="mw-100pct">
    <is-loading>
        <span class="loading">Loading...</span>
    </is-loading>
    <has-error>
        <span class="error" data-bind="errorMessage"></span>
    </has-error>
    <is-loaded>
        <input
            is="input-filter"
            filter-selector="table"
            filter-results-selector="h1"
            filter-results-text-all="{totalCount} Countries"
            filter-results-text-filtered="Showing {displayCount} of {totalCount} Countries"
            placeholder="Enter filter, example 'North America'">

        <data-table
            data-bind="countries"
            highlight-class="highlight"
            labels="Code, Name, Size (KM), Population, Continent"
            col-class="2=text-right, 3=text-right"
            table-attr="is=sortable-table,
                        data-sort-class-odd=row-odd,
                        data-sort-class-even=row-even">
            <script type="text/x-template">
                <tr>
                    <td>${iso}</td>
                    <td>
                        <i class="${iso.toLowerCase()} flag"></i>
                        ${country}
                    </td>
                    <td class="text-right" data-value="${area_km}">${format.number(area_km)}</td>
                    <td class="text-right" data-value="${population}">${format.number(population)}</td>
                    <td>${continent}</td>
                </tr>
            </script>
        </data-table>
    </is-loaded>
</json-data>
