<!doctype html>
<html lang="en">
<!----------------------------------------------------------------------------------------
	This demo uses React with React Router and displays data from a JSON Service
	using DataFormsJS React Components. Babel Standalone is used in the Browser
	to transpile the JSX code from <script type="text/babel"> to JavaScript.
---------------------------------------------------------------------------------------->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Playground Site - React</title>
        <link rel="stylesheet" href="site.css">
        <link rel="shortcut icon" href="../../favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-flag@2.4.0/flag.min.css">
    </head>
    <body>
        <div id="root"></div>

        <script>
            // Allow [babel-standalone] to use [import and exports] with JSX files
            window.exports = window;
            function require(module) {
                switch (module) {
                    case 'react':
                        return window.React;
                    case 'react-dom':
                        return window.ReactDOM;
                    default:
                        return window[module];
                }
            }
        </script>

        <!--
            React
            https://reactjs.org
        -->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin="anonymous"></script>

        <!--
            Babel for JSX
            Use [babel-standalone@6] for IE Support.
            Babel 7 [@babel] can be used for modern browsers.
            https://babeljs.io
        -->
        <!--
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        -->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <!--
            React Router
            https://reacttraining.com/react-router/
            https://github.com/ReactTraining/react-router
        -->
        <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
        <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

        <!--
            DataFormsJS React Components
            https://www.dataformsjs.com
        -->
        <!--
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/ErrorBoundary.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/PolyfillService.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/JsonData.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/InputFilter.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/SortableTable.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/I18n.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/Format.js"></script>
        <script type="text/babel" src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es6/LeafletMap.js"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/dataformsjs@3.0.0/js/react/es5/DataFormsJS.min.js"></script>
        		
        
        <!-- App Code -->
        <script type="text/babel" src="data-react.jsx"></script>
        <script type="text/babel" src="app.jsx"></script>
    </body>
</html>